<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-party" [fullScreen]="true">
  <p style="color: white"> Please wait... </p>
</ngx-spinner>

<ng-container *ngIf="!isLoginPage">
  <div class="app-layout-container">
    <mat-toolbar color="primary" class="mat-elevation-z8" style="display: flex; align-items: center;">
    <!-- Menu button on the left -->
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Title -->
    <a class="navbar-brand ms-2" href="#">DASHBOARD</a>

    <!-- Spacer pushes content to the right -->
    <span class="example-spacer" style="flex-grow: 1;"></span>


    <h4 class="welcome-message my-0 me-3" *ngIf="roleName ==='Warehouse' || 'DHS' || 'SEC1' || 'Division' || 'SE' ">
      Welcome: <strong>{{ firstname | titlecase }}</strong>
    </h4>


    <button mat-button (click)="goBack()" class="back-button" aria-label="Back">
      <span class="button-label">Back</span>
    </button>

    <span class="spacer"></span>



  </mat-toolbar>




  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="side" position="start" mode="over">
      <mat-nav-list>
        <ng-container *ngFor="let item of menuItems">


          <!-- Main Menu Item -->
          <mat-list-item class="nav-item">
            <!-- External link using an anchor tag -->
            <a *ngIf="isExternalLink(item.route)" [href]="item.route" target="_blank" style="text-decoration: none; color: inherit; width: 100%; display: block;">
              <button mat-button class="menu-btn" (click)="drawer.close()">
                <div class="menu-content">
                  <mat-icon class="left-icon">format_list_bulleted</mat-icon> 
                  <span class="menu-text">{{ item.label }}</span>
                </div>
              </button>
            </a>

            <!-- Internal route using routerLink -->
            <button *ngIf="!isExternalLink(item.route)" mat-button class="menu-btn"
              (click)="item.submenu ? toggleSubmenu(item.label) : drawer.close()"
              [routerLink]="!item.submenu ? item.route : null"
              routerLinkActive="active-menu">
              <div class="menu-content">
                <mat-icon class="left-icon">format_list_bulleted</mat-icon>
                <span class="menu-text">{{ item.label }}</span>

                <!-- Conditionally Show Arrow for Submenus -->
                <mat-icon *ngIf="item.submenu" class="right-icon" [class.rotate]="expandedMenus[item.label]">
                  chevron_right
                </mat-icon>
              </div>
            </button>
          </mat-list-item>

          <!-- Submenu -->
          <div class="submenu" [class.open]="expandedMenus[item.label]">
            <ng-container *ngFor="let subItem of item.submenu; let i = index">

              <!-- First-level subitem with no children -->
              <mat-list-item *ngIf="!subItem.submenu" class="sub-nav-item" [style.transition-delay]="(i * 0.05) + 's'">
                <button [routerLink]="subItem.route" mat-button class="submenu-btn" routerLinkActive="active-submenu" (click)="drawer.close()">
                  <div class="menu-content">
                    <mat-icon class="sub-icon">subdirectory_arrow_right</mat-icon> 
                    <span class="menu-text">{{ subItem.label }}</span>
                  </div>
                </button>
              </mat-list-item>

              <!-- First-level subitem WITH children -->
              <mat-list-item *ngIf="subItem.submenu" class="sub-nav-item" [style.transition-delay]="(i * 0.05) + 's'">
                <button mat-button class="submenu-btn" (click)="toggleSubmenu(subItem.label, item.label)">
                  <div class="menu-content">
                    <mat-icon class="sub-icon">subdirectory_arrow_right</mat-icon> 
                    <span class="menu-text">{{ subItem.label }}</span>
                    <mat-icon class="right-icon" [class.rotate]="expandedMenus[subItem.label]">
                      chevron_right
                    </mat-icon>
                  </div>
                </button>
              </mat-list-item>

              <!-- Second-level submenu -->
              <div class="submenu second-level-submenu" [class.open]="expandedMenus[subItem.label]"
                style="padding-left: 20px;">
                <mat-list-item *ngFor="let subSubItem of subItem.submenu; let j = index" class="sub-nav-item" [style.transition-delay]="(j * 0.05) + 's'">
                  <button [routerLink]="subSubItem.route" mat-button class="submenu-btn" routerLinkActive="active-submenu" (click)="drawer.close()">
                    <div class="menu-content">
                      <mat-icon class="sub-icon">subdirectory_arrow_right</mat-icon> 
                      <span class="menu-text">{{ subSubItem.label }}</span>
                    </div>
                  </button>
                </mat-list-item>
              </div>

            </ng-container>
          </div>

        </ng-container>

        <div class="divider"></div>

        <mat-list-item class="nav-item">
          <button mat-button class="menu-btn logout-btn" (click)="logout()">
            <div class="menu-content">
              <mat-icon class="left-icon">exit_to_app</mat-icon> 
              <span class="menu-text">Log Out</span>
            </div>
          </button>
        </mat-list-item>

        <ng-container *ngIf="menuItems.length === 0">
          <mat-list-item class="nav-item">
            <button mat-button disabled class="menu-btn">
              <div class="menu-content">
                <mat-icon class="left-icon">error</mat-icon> 
                <span class="menu-text">No menu items available</span>
              </div>
            </button>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>


    </mat-drawer>

    <mat-drawer-content>
      <!-- <div style="text-align: center; min-height: 100vh;"> -->
      <div style="text-align: center;">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  </div>
</ng-container>

<ng-container *ngIf="isLoginPage">
  <router-outlet></router-outlet>
  <div (click)="handleOutsideClick($event)" class="add-to-home-screen-container">
    <div [class.show]="showButton" class="add-to-home-screen">
      <button (click)="addToHomeScreen()">Add to Home screen</button>
      <button class="close-btn" (click)="hideAddToHomeScreen()">×</button>
    </div>
  </div>
</ng-container>