
    <!-- <title>Delivery</title> -->

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Delivery</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="container my-4">
    <!-- Vehicle Current Position -->
    <div class="text-center">
      <h1 class="fw-bold">Vehicle Current Position</h1>
      <p class="mb-3">
        <span>latitude: <b>21.1365862</b></span> |
        <span>longitude: <b>81.7866932</b></span>
      </p>
    </div>

    <!-- Dropdown and Button -->
    <div class="row justify-content-center mb-3">
      <div class="col-md-8">
        <div class="input-group">
            <ng-select
            [items]="VehicleNoDropDownList"
            bindLabel="vehicalno"
            bindValue="vid"
            [(ngModel)]="vid"
            name="vid"
            (change)="onVSelectChange($event)"
            #emailidField="ngModel"
            [placeholder]="!vid ? 'Choose Vehicle' : ''"
            [searchable]="true"
            [clearable]="true" 
            [appendTo]="'body'"
            required
            class="form-control"
          >
          </ng-select>
        
        </div>
      </div>
      <div class="col-md-8">
        <div class="input-group">
            <ng-select
            [items]="TravelVoucherDropDownList"
            bindLabel="details"
            bindValue="indentid"
            [(ngModel)]="indentid"
            name="indentid"
            (change)="onTravelVChange($event)"
            #emailidField="ngModel"
            [placeholder]="!indentid ? 'Choose Travel Voucher' : ''"
            [searchable]="true"
            [clearable]="true" 
            [appendTo]="'body'"
            required
            class="form-control"
          >
          </ng-select>
        </div>
    </div>
    <button class="btn btn-primary" (click)="show()">दिखाएँ</button>
    </div>

    <div class="card" *ngFor="let travel of TravelVoucherDropDownList2">
        <div class="card-body">
          <p><b>हॉस्पिटल:</b> {{ travel.facilityname }}</p>
          <p><b>जिला:</b> {{ travel.districtname }}</p>
          <p><b>मांग दिनांक:</b> {{ travel.indentid }}</p>
          <p><b>वेयरहाउस वाउचर:</b> {{ travel.issuevoucher }}</p>
          <p><b>वेयरहाउस इशु / प्रदान दिनांक:</b> {{ travel.issuevoucherdt }}</p>
          <p><b>सामग्रियों की संख्या:</b> {{ travel.nositems }}</p>
          <p><b>डिलीवरी वाउचर दिनांक:</b> {{ travel.travelvoucherissuedt }}</p>
          <p><b>संस्था का देशांतर:</b> {{ travel.longitude }}</p>
          <p><b>संस्था का अक्षांश:</b> {{ travel.latitude }}</p>
        </div>
      </div>
      

    <!-- Action Button -->
    <div class="text-center mt-3">
      <button class="btn btn-primary">प्रदान किया गया</button>
    </div>
  </div>

