<div class="container my-4">
  <!-- Vehicle Current Position -->
  <div class="text-center">
    <h1 class="fw-bold">Vehicle Current Position</h1>
    <p class="mb-3">
      <span>Latitude: <b>{{ lat }}</b></span> |
      <span>Longitude: <b>{{ long }}</b></span>
    </p>
  </div>

  <!-- Dropdowns and Date Picker -->
  <div class="row justify-content-center mb-3">
    <div class="col-12 col-md-6 mb-3">
      <label class="form-label">Choose Vehicle:</label>
      <ng-select
        [items]="VehicleNoDropDownList"
        bindLabel="vehicalno"
        bindValue="vid"
        [(ngModel)]="vid"
        name="vid"
        (change)="onVSelectChange($event)"
        #emailidField="ngModel"
        [placeholder]="!vid ? 'Choose Vehicle' : ''"
        [searchable]="true"
        [clearable]="true"
        [appendTo]="'body'"
        required
        class="form-control"
      >
      </ng-select>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label class="form-label">Choose Travel Voucher:</label>
      <ng-select
        [items]="TravelVoucherDropDownList"
        bindLabel="details"
        bindValue="indentid"
        [(ngModel)]="indentid"
        name="indentid"
        (change)="onTravelVChange($event)"
        #emailidField="ngModel"
        [placeholder]="!indentid ? 'Choose Travel Voucher' : ''"
        [searchable]="true"
        [clearable]="true"
        [appendTo]="'body'"
        required
        class="form-control"
      >
      </ng-select>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label class="form-label">Select Date:</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="selectedDate"
        name="selectedDate"
        required
      />
    </div>
    <div class="col-12 text-center">
      <button class="btn btn-primary w-100 w-md-auto" (click)="show()">दिखाएँ</button>
    </div>
  </div>

  <!-- Cards Section -->
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let travel of TravelVoucherDropDownList2">
      <div class="card h-100">
        <div class="card-body">
          <p><b>हॉस्पिटल:</b> {{ travel.facilityname }}</p>
          <p><b>जिला:</b> {{ travel.districtname }}</p>
          <p><b>मांग दिनांक:</b> {{ travel.indentid }}</p>
          <p><b>वेयरहाउस वाउचर:</b> {{ travel.issuevoucher }}</p>
          <p><b>वेयरहाउस इशु / प्रदान दिनांक:</b> {{ travel.issuevoucherdt }}</p>
          <p><b>सामग्रियों की संख्या:</b> {{ travel.nositems }}</p>
          <p><b>डिलीवरी वाउचर दिनांक:</b> {{ travel.travelvoucherissuedt }}</p>
          <p><b>संस्था का देशांतर:</b> {{ travel.longitude }}</p>
          <p><b>संस्था का अक्षांश:</b> {{ travel.latitude }}</p>
          <p><b>Travel ID:</b> {{ travel.travaleid }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Button -->
  <div class="text-center mt-3">
    <button class="btn btn-primary w-100 w-md-auto" (click)="submit()">प्रदान किया गया</button>
  </div>
</div>
